.ContactCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.ContactInfo {
    color: #333;
}

.ContactInfo h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333 ;
}

.ContactInfo p {
    margin: 5px 0 0;
    font-size: 14px;
    width: auto;
    overflow-wrap: break-word;
    color: #333 ;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
