.ChatEnv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    width: 50vw;
    overflow: hidden;
}
  
  .send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  
  .chat-area{

    height: 80vh;
    padding: 20px;
    overflow-y: auto;
    
  }

  .footer {
     height: 10vh;
    padding: 10px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
  }
  
  .message-input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #333;
    border: none;
    outline: none;
  }

  .message-input:focus {
    background-color: #444;
  }
  
  .icon-button, .send-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    color: #555;
  }
  
  .icon-button:hover, .send-button:hover {
    color: #333;
  }
  
  .send-button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
  }

  .picker{
    position: relative;
    bottom: 500px;
    left: 250px;
    width: auto;
    height: auto;
  }

  .sent-message {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    
  }

 @media screen and (max-width: 600px) {
    .ChatEnv {
      width: 100%;
      height: 100vh;
    }
    .sent-message {
      left: 35%;
    }

    .footer {
     padding: 0;
     height: 5vh;
     
    }
  }

  

  
  