*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Layout{
 height: 100vh;  
 width: 100vw; 
padding: 20px;
}

.Layout-container{
    background-color: rgba(17, 25,40, 0.75);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 10px;

}


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(17, 25, 40, 0.568);
    backdrop-filter: blur(10px) saturate(180%);
    font-size: clamp(1rem, 3vw, 3rem);
    color: white;
}

.no-chat-selected{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: clamp(1rem, 3vw, 3rem);
    color: white;
}